## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
plots/*.png
plots/*.PNG
plots/*.jpg
plots/eq*.svg
plots/*.pptm
*/sync.f*
sync.f*
*.teasv
*.back
*.bak
*.bmt 
*.h*

plots/U30*